<!--main -->

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="/css/style.css" rel="stylesheet" />
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.7.7/handlebars.min.js"
    ></script>

    <title>Tech Blog</title>
  </head>
  <body>
    <div class="nav-bar">
      <a href="/">Home</a>
      <a href="/dashboard">Dashboard</a>
      <!-- Condition that changes the nav bar depending on if the user is logged in or not -->
      {{#if user}}
        <a id="logout" href="/logout">Logout</a>
      {{else}}
        <a id="login" href="/login">Login</a>
      {{/if}}
    </div>
    <div class="header">
      <h1>The Tech Blog</h1>
    </div>
    <div class="content">
      {{{body}}}
    </div>

  </body>
</html>