
 <div class="list-header">
    <h1>Welcome to Your Dashboard, {{user.username}}!</h1>
  </div>
  <div class="content">
    <h2>Your Posts:</h2>
    {{#each user.posts}}
    <ul class="your-posts">
      
        <li>
            <div class="list-header">
              <h3 id="post-title" data-post-id="{{this.id}}">{{this.title}}</h3>
            </div>
            <textarea id="post-content" style="height: 160px;padding: 10px">{{this.content}}</textarea>
            
             
        </li>
          
            <button id="delete-post">Delete</button>
            <button id="save-button">Save changes</button>
      
    </ul>
   {{/each}}
    <h2>Create a New Post:</h2>
    <form id="created-post">
      <div class="form-group">
        <label for="title">Title:</label>
        <input type="text" id="title" name="title" required>
      </div>
      <div class="form-group">
        <label for="content">Content:</label>
        <textarea id="content" name="content" rows="4" required></textarea>
      </div>
      <button type="submit">Create Post</button>
    </form>
  </div>
</body>

<script src="/js/makePost.js"></script>
